/**
 *Generalno
 * 
 */
body{
	background: url('../img/cover.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	color:#fff;
  	background-color:#333;
}

/**
 *
 * Navigacija
 */
.navbar-inverse{
	background-color: transparent;
	border-color:transparent;
	
}
.navbar-inverse .navbar-nav > li > a{
	color:white;
	font-size: 18px;
}
.navbar-inverse .navbar-brand{
	color:white;
}